In [213]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import censusdata
import re



pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

In [214]:
#Define Funtions

#Funcion For NonDigit Removing Characters from Row
def remove_chars(s):
    clean = re.sub('[^0-9]+', '', str(s))[-11:]
    return clean

# Set requirements to pull from Census API
variablestopull = variables['Name'].tolist()
listofcounties = ['121', '089']
yearstopull = range(2012,2018,1)

In [215]:
#Pull Census Data according to requirement above
atlantadata = pd.DataFrame()

for year in yearstopull:
    for county in listofcounties:

        newdata = censusdata.download('acs5', year, censusdata.censusgeo([('state', '13'), ('county', county), ('tract', '*')]),variablestopull)
        type(newdata)
        newdata['year'] = year
        atlantadata = atlantadata.append(newdata)
        
        
print(atlantadata.head())

                                                    B00001_001E  B00002_001E  B01001_001E  B01001_002E  B01001_003E  B01001_004E  B01001_005E  B01001_006E  B01001_007E  B01001_008E  B01001_009E  B01001_010E  B01001_011E  B01001_012E  B01001_013E  B01001_014E  year
Census Tract 1, Fulton County, Georgia: Summary...        332.0        149.0         4225         2076          210          173          138           35            0            0           15           47           77           50          232          334  2012
Census Tract 2, Fulton County, Georgia: Summary...        362.0        167.0         5807         3285          182          224          190           26           26            0           20            0          425          211          371          481  2012
Census Tract 4, Fulton County, Georgia: Summary...        125.0         82.0         1741         1042           34           55           22            0           11            0            0           22          214           38          114           78  2012
Census Tract 5, Fulton County, Georgia: Summary...        278.0        176.0         4422         2334           57          150           49           22           63           67            0          342          330          140          184          281  2012
Census Tract 6, Fulton County, Georgia: Summary...        358.0        147.0         6321         3900           19           27           12           36          417          374          404         1059          833          150          161          145  2012

In [100]:
#Rename Column Headings from Code to Text
for variable in variablestopull:
    #print(variable)
    renamevar1 = variables.loc[variables['Name']==variable]['Label'].iloc[0]
    renamevar2 = variables.loc[variables['Name']==variable]['Concept'].iloc[0]
    renamevar = renamevar2 + '_'+ renamevar1
    #print(renamevar)
    atlantadata = atlantadata.rename(columns={variable: renamevar})

In [222]:
#Transform Index to create GeoID


#Create GeoID Column
atlantadata['Name2'] = atlantadata.index
atlantadata['GeoID'] = atlantadata['Name2'].apply(remove_chars)
atlantadata.drop(columns=['Name2'], inplace=True)



atlantadata.to_csv('test.csv')

        A         B    C
0   red78    square  235
1   green    circle  123
2  blue45  triangle  657